/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 23 version
*/

@media (max-width:1200px){
    .div-1{
        width: 90%;
    }
}
@media (max-width:1145px){
    .card{
     width: 300px;
    }
    .div2-1{
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
}
@media( max-width:800px){
    nav{
        display: none;
    }
    .fa-bars{
        display: block;
        cursor: pointer;
    }
}
@media(max-width:790px){
.card{
    width: 400px;
    
}
}